[submodule "src/jdk.tools/main/java"]
	path = src/jdk.tools/main/java
	url = https://github.com/sormuras/jdk.tools.git
[submodule "src/run.duke/main/java"]
	path = src/run.duke/main/java
	url = https://github.com/sormuras/run.duke.git
