name: 'Early Access'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v6
      - name: 'Set up Java Development Kit'
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: 25
      - name: 'Run Duke.java'
        run: java src/duke.run/Duke.java
